<div class="bg-slate-100 overflow-y-scroll w-screen h-screen antialiased text-slate-300 selection:bg-blue-600 selection:text-white">
  <div class="flex flex-row relative w-full">

    <div class="w-[220px] bg-gray-900 min-h-screen z-10 text-slate-300 fixed left-0 h-screen overflow-y-scroll">
      <app-side-menu />
    </div>

    <div class="ml-[220px] flex flex-col w-full h-full">
      <gifs-search-box />

      <div class="p-4 text-slate-800">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>
</div>